@font-face {
  font-family: "haoke"; /* Project id 3520913 */
  src: url('iconfont.woff2?t=1657971303121') format('woff2'),
       url('iconfont.woff?t=1657971303121') format('woff'),
       url('iconfont.ttf?t=1657971303121') format('truetype');
}

.haoke {
  font-family: "haoke" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.haoke-sousuo_o:before {
  content: "\eb86";
}

.haoke-xiajiantou:before {
  content: "\eb6d";
}

.haoke-geren:before {
  content: "\e63f";
}

.haoke-zhuye:before {
  content: "\e61d";
}

.haoke-kefu:before {
  content: "\e60f";
}

.haoke-vipcard:before {
  content: "\e6ee";
}

.haoke-shoucang:before {
  content: "\e600";
}

.haoke-shizhong:before {
  content: "\e74f";
}

.haoke-ditu:before {
  content: "\e8ad";
}

